Source: zfs-auto-snapshot
Section: admin
Priority: extra
Maintainer: Kentik Ops <ops-team@kentik.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4
Homepage: http://www.zfsonlinux.org/
Vcs-Git: git://github.com/zfsonlinux/zfs-auto-snapshot.git
Vcs-Browser: https://github.com/zfsonlinux/zfs-auto-snapshot/

Package: zfs-auto-snapshot
Architecture: all
Depends: ${misc:Depends}, cron, zfs (>= 0.6.5.8)
Description: ZFS Automatic Snapshot Service
 Automatically create and destroy ZFS snapshots on an hourly, daily, weekly
 and monthly schedule.
 Kentik-modified; cron jobs use '--default-exclude' option, depends on ZoL version.
